*~
#*#
*.tar
*.root
*.mca
*.mac
*.macro
*.out
*.sh
*.plot
*.jpeg
*.jpg
*.png
*.dat
*.C
G4History.macro
1
gnuplot*
testfiles
treefiles
*CMake*
*cmake*
sed*
tree2mca_parameter*
DetectionSystemGriffinSuppressed.cc
DetectorConstructionSuppressed.cc
TIP_Fusion_Evaporation
TIP_FE_RDM
G4TIP
Makefile
