*~
*.tar
*.root
*.mca
*.mac
*.macro
*.out
*.sh
*.plot
*.jpeg
*.jpg
*.png
*.dat
1
gnuplot*
testfiles
treefiles
*CMake*
*cmake*
sed*
tree2mca_parameter*
TIP_Fusion_Evaporation
TIP_FE_RDM
Makefile
.nfs*
